<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard.html}">>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
          
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Roles</h1>
            <button class="btn btn-primary"><a class="text-white" th:href="@{/roles}">list of Roles</a></button>
        </div>
          <div class="container mt-5">
            <form th:action="@{/roles/create}" method="post">
                <div class="form-group">
                    <label for="nom">Role Name :</label>
                    <input type="text" class="form-control" id="roleName" name="roleName" required>
                </div>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
        </div>
        </main>
    </body>
</html>