<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard.html}">>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="mb-0">Roles</h1>
                <button class="btn btn-primary"><a class="text-white" th:href="@{/roles/create}">Create Role</a></button>
            </div>
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>#</th>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody th:each="role : ${roles}">
                <tr>
                    <td>
                        <p class="fw-normal mb-1"><span th:text="${role.id}"></p>
                    </td>
                    <td><span th:text="${role.roleName}"></td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            <a th:href="@{/roles/edit/{id}(id=${role.id})}">Edit</a>
                        </button>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            <a th:href="@{/roles/show/{id}(id=${role.id})}" style="color: green;">Show</a>
                        </button>
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            <a th:href="@{/roles/delete/{id}(id=${role.id})}" style="color: red;">Delete</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </main>
    </body>
</html>